@charset "UTF-8";
main {
    background-image: url("../image/reserve1.png");
    background-repeat: no-repeat;
    width: 430px;
    height: 932px;
    background-size: contain;
}

#Button1{
	position: relative;
	top: 151px;
	left: 15px;
	width: 191px;
	height: 191px;
	border: none;
	opacity: 0;
}
.i1Button input[type="submit"] {
	top: 0px;
	left: 0px;
  	width: 191px;
	height: 191px;
  	border: none;
  	cursor: pointer;
}

#Button2{
	position: relative;
	top: 151px;
	left: 30px;
	width: 191px;
	height: 191px;
	border: none; 
	opacity: 0;
}
.i2Button input[type="submit"] {
	top: 0px;
	left: 0px;
  	width: 191px;
	height: 191px;
  	border: none;
  	cursor: pointer;
}


#icon1{
	position: relative;
	top: 8px;
	left: 10px;
	width: 30px;
	height: 30px;
	display: inline-block;
	opacity: 0;
	cursor: pointer;
}
#icon2{
	position: relative;
	top: 8px;
	left: 350px;
	width: 30px;
	height: 30px;
	display: inline-block;
	opacity: 0;
	cursor: pointer;
}
#icon3{
	position: absolute;
	top: 60px;
	left: 20px;
	width: 30px;
	height: 30px;
	display: inline-block;
	opacity: 0;
	cursor: pointer;
}
#icon4{
	position: absolute;
	top: 112px;
	left: 30px;
	width: 30px;
	height: 30px;
	display: inline-block;
	opacity: 0;
	cursor: pointer;
}



#bar1{
	margin-top:670px;
	margin-left: 17px;
	width: 55px;
	height: 55px;
	border: none;
	opacity: 0;
	cursor: pointer;
}
#bar2{
	margin-top:670px;
	margin-left: 33px;
	width: 55px;
	height: 55px;
	border: none;
	opacity: 0;
	cursor: pointer;
}
#bar3{
	margin-top:670px;
	margin-left: 16px;
	width: 55px;
	height: 55px;
	border: none;
	opacity: 0;
	cursor: pointer;
}
#bar4{
	margin-top:670px;
	margin-left: 24px;
	width: 55px;
	height: 55px;
	border: none;
	opacity: 0;
	cursor: pointer;
}
#bar5{
	margin-top:670px;
	margin-left: 24px;
	width: 55px;
	height: 55px;
	border: none;
	opacity: 0;
	cursor: pointer;
}

