@charset "UTF-8";
main {
	background-image: url("../image/rsvlist.png");
    background-repeat: no-repeat;
    width: 430px;
    height: 932px;
    background-size: contain;
}

.id{
	position: absolute;
	top: 45px;
	left: 180px;
}

.list{
	position: relative;
	top: 160px;
	text-align: center;
}


#icon1{
	position: relative;
	top: 8px;
	left: 10px;
	width: 30px;
	height: 30px;
	display: inline-block;
	opacity: 0;
	cursor: pointer;
}
#icon2{
	position: relative;
	top: 8px;
	left: 350px;
	width: 30px;
	height: 30px;
	display: inline-block;
	opacity: 0;
	cursor: pointer;
}
#icon3{
	position: absolute;
	top: 60px;
	left: 20px;
	width: 30px;
	height: 30px;
	display: inline-block;
	opacity: 0;
	cursor: pointer;
}
#icon4{
	position: absolute;
	top: 112px;
	left: 30px;
	width: 30px;
	height: 30px;
	display: inline-block;
	opacity: 0;
	cursor: pointer;
}


#bar1{
	position: absolute;
	top:868px;
	left: 25px;
	width: 55px;
	height: 55px;
	border: none;
	cursor: pointer;
	opacity: 0;
}
#bar2{
	position: absolute;
	top:868px;
	left: 110px;
	width: 55px;
	height: 55px;
	border: none;
	cursor: pointer;
	opacity: 0;
}
#bar3{
	position: absolute;
	top:868px;
	left: 195px;
	width: 55px;
	height: 55px;
	border: none;
	cursor: pointer;
	opacity: 0;
}
#bar4{
	position: absolute;
	top:868px;
	left: 280px;
	width: 55px;
	height: 55px;
	border: none;
	cursor: pointer;
	opacity: 0;
}
#bar5{
	position: absolute;
	top:868px;
	left: 365px;
	width: 55px;
	height: 55px;
	border: none;
	cursor: pointer;
	opacity: 0;
}



